@import "../../variables";

.gallery-fullscreen {
  // background-color: rgba(92, 92, 92, 0.554);
  position: relative;
  overflow: hidden;
}

.section-gallery {
  // min-height: 100vh;
  margin: 0 auto;
  padding: 40px 0 60px;
}

.section-gallery-title {
  text-align: center;
  color: #3f3f3f;
  margin: 0 0 30px;
}

// .gallery-wrapper {
//   width: 100%;
// display: grid;
// grid-template-columns: repeat(3, 1fr);
// grid-template-rows: masonry;
// gap: 10px;
// // columns: 1;
// @media (min-width: 475px) {
//   columns: 2;
// }
// @media (min-width: 835px) {
//   columns: 3 auto;
// }
// }

.my-masonry-grid {
  width: 100%;

  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  // margin-left: -12px; /* gutter size offset */
  // width: auto;
}
.my-masonry-grid_column:not(:nth-child(1)) {
  padding-left: 12px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  // margin-bottom: 12px;
}

.image-wrapper {
  position: relative;
  margin-bottom: 12px;

  & .gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: filter 350ms ease;
  }
  & :hover {
    filter: opacity(0.6);
  }

  & .gallery-text-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    align-items: center;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to top, #272727, #ffffff00);
    pointer-events: none;
  }

  & .gallery-image-title {
    font-size: 0.9em;
    padding: 10px;
    margin: 0;
  }

  & .gallery-zoomIn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
    & svg {
      width: 20px;
      height: 20px;
      stroke: #ffffff;

      transition: 0.5s ease;
      transition-property: stroke, width, height;
    }
  }
  &:hover .gallery-zoomIn > svg {
    width: 40px;
    height: 40px;
    stroke: #272727;
  }
}

.gallery-button-load {
  color: #ffffff;
  background-color: #76c1ae;
  border: none;
  text-transform: uppercase;
  display: flex;
  gap: 2px;
  cursor: pointer;
  align-items: center;
  margin: 50px auto 0;
  border-radius: 6px;
  padding: 10px 15px 10px 10px;
  font-weight: bold;
  font-size: 17px;
  transition: filter 0.5s ease;

  & svg {
    display: block;
    width: 28px;
    height: 28px;
  }
  &:hover {
    filter: opacity(70%);
    // background-color: #a6b2bd;
  }
}
