@import "../../variables";

.gallery-fullscreen {
  // background-color: rgba(92, 92, 92, 0.554);
  position: relative;
  overflow: hidden;
}

.section-gallery {
  // min-height: 100vh;
  margin: 60px 0 40px;
}

.section-gallery-title {
  text-align: center;
  color: #3f3f3f;
}

.gallery-wrapper {
  columns: 1;
  @media (min-width: 475px) {
    columns: 2;
  }
  @media (min-width: 835px) {
    columns: 3;
  }
}

.image-wrapper {
  position: relative;
  margin-bottom: 12px;
  & .gallery-image {
    display: block;
    width: 100%;
    cursor: pointer;
    transition: filter 350ms ease;
  }
  & :hover {
    filter: opacity(0.6);
  }

  & .gallery-text-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    align-items: center;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to top, #272727, #ffffff00);
    pointer-events: none;
  }

  & .gallery-image-title {
    font-size: 0.9em;
    padding: 10px;
    margin: 0;
  }

  & .gallery-zoomIn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    pointer-events: none;
    & svg {
      width: 20px;
      height: 20px;
      stroke: #ffffff;

      transition: 0.5s ease;
      transition-property: stroke, width, height;
    }
  }
  &:hover .gallery-zoomIn > svg {
    width: 40px;
    height: 40px;
    stroke: #272727;
  }
}
