@import "../../variables";

.section-gallery {
  // background-color: rgba(92, 92, 92, 0.554);
  position: relative;
  overflow: hidden;
  // padding: 40px 0;
}

.button-fullscreen-close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 9;
}

.gallery-wrapper {
  height: 100vh;
  position: relative;
  // height: calc(100vh - 85px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #272727;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper2 {
  height: 100%;
  width: 100%;

  & .swiper-button-prev,
  & .swiper-button-next {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .swiper-button-prev {
    background-image: url("../../../public/img/gallery-chevron-left.svg");
  }

  & .swiper-button-next {
    background-image: url("../../../public/img/gallery-chevron-right.svg");
  }

  & .swiper-button-prev::after,
  & .swiper-button-next::after {
    display: none;
  }
  & .swiper-wrapper .swiper-slide .gallery-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    @media (min-width: 835px) {
      height: 100%;
    }
  }
}

.gallery-thumbs-up {
  position: relative;
  z-index: 9;
  cursor: pointer;
  margin-top: 5px;

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../../public/img/gallery-chevron-up.svg");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 55px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: #ffffff90;
  }

  &:hover .mySwiper {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  &:hover::before {
    background: transparent;
  }
  &:hover::after {
    background-color: transparent;
  }
}

.mySwiper {
  // height: 20%;
  height: 110px;
  width: 100%;
  box-sizing: border-box;

  position: absolute;
  bottom: 120px;
  transform: translateY(110%);
  opacity: 0;
  visibility: hidden;

  transition: transform 0.5s ease, opacity 0.5s ease;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  & .swiper-wrapper .swiper-slide-thumb-active {
    opacity: 1;
    & > div {
      border: 1px solid rgba(255, 255, 255, 0.838);
      box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.724);
      border-radius: 6px;
    }
  }

  & .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.6;
    background-color: transparent;
    padding: 10px 5px;
    overflow: hidden;

    & .gallery-thumbs {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}

.mySwiper .swiper-slide > div {
  height: 100%;
  width: 100%;
}
.mySwiper2 .swiper-slide > div {
  height: auto;
  width: 100%;
  @media (min-width: 835px) {
    height: 100%;
  }
}
