@import "../../variables";

.section-intro {
  padding-top: 40px;
  width: 100%;
}

.section-intro-wrap {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: min-content;
  padding: 10px;
  row-gap: 10px;
  max-width: 100%;
  background: #00000057;
  justify-content: center;

  @media (min-width: 475px) {
    grid-template-columns: max-content;
    justify-content: end;
    margin: 0;
    padding: 30px 40px;
    row-gap: 15px;
    min-width: max-content;
    max-width: 60%;
  }
}

.section-intro-title {
  text-align: center;
  margin: 0;
  color: #000000be;
  font-size: 35px;
  text-transform: uppercase;
  @media (min-width: 945px) {
    font-size: 40px;
    justify-self: end;
  }
}

.section-intro-subtitle {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: #ffffffcc;
  @media (min-width: 945px) {
    justify-self: end;
    font-size: 30px;
  }
}
