* {
  box-sizing: border-box;
}

.section-form {
  padding: 40px 0;
}

.form-wrapper {
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  max-width: 1000px;

  & > * {
    padding: 1em;
  }
  @media (min-width: 735px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.form-company-info {
  background: #c9e6ff;

  color: #485e74;
  line-height: 1.6;
  & h3 {
    margin: 0 0 1rem 0;
    text-align: center;
    @media (min-width: 735px) {
      text-align: left;
    }
  }
  & ul {
    width: max-content;
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
    @media (min-width: 735px) {
      margin: 0;
      text-align: left;
    }
  }
}

.form-svg {
  vertical-align: text-bottom;
}
// FORM STYLES

.form-contact form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @media (min-width: 475px) {
    grid-template-columns: 1fr 1fr;
  }

  & label {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 14px;
    color: #485e74;
    &.error-form {
      color: #ff00009c;
    }
  }
  & p {
    margin: 0;
  }
  & input,
  & button,
  & textarea {
    color: #485e74;
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
    border-radius: 4px;
  }
  & input:focus,
  & textarea:focus {
    box-shadow: 0 0 8px 0 rgba(72, 94, 116, 0.7);
    outline: none;
  }
  & .full {
    @media (min-width: 475px) {
      grid-column: 1/3;
    }
  }
  & .form-submit {
    background: #c9e6ff;
    border: none;
    font-weight: bold;
    color: #485e74;

    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background: #92bde7;
      color: #fff;
      outline: none;
      transition: background-color 0.9s ease-out;
    }
  }
}

.form-field {
  &.error {
    border: 1px solid #f64b4b50;
  }
}
